{% if article.series %}
<div class="well">
    <div class="col-md-3">
    {% if article.series.previous %}
        <a href='{{ SITEURL }}/{{ article.series.previous.url }}'>{{ article.series.previous.title }}</a>
    {% endif %}
    </div>
    <div class="col-md-6">
    <h6 class="text-center">This post is part {{ article.series.index }} of the "{{ article.series.name }}" series</h6>
    </div>
    <div class="col-md-3">
    {% if article.series.next %}
        <a href='{{ SITEURL }}/{{ article.series.next.url }}'>{{ article.series.next.title }}</a>
    {% endif %}
    </div>
</div>
{% endif %}